asn1crypto==0.24.0
attrs==19.3.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
bleach==3.1.1
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.1.4
decorator==4.4.1
defusedxml==0.6.0
entrypoints==0.3
enum34==1.1.6
functools32==3.2.3.post2
futures==3.3.0
idna==2.6
importlib-metadata==1.5.0
ipaddress==1.0.23
ipykernel==4.10.1
ipython==5.9.0
ipython-genutils==0.2.0
Jinja2==2.11.1
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-core==4.6.3
jupyterlab==0.33.12
jupyterlab-launcher==0.11.2
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==4.4.0
notebook==5.7.8
pandocfilters==1.4.2
pathlib2==2.3.5
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.7.1
prompt-toolkit==1.0.18
ptyprocess==0.6.0
pycairo==1.16.2
pycrypto==2.6.1
Pygments==2.5.2
pygobject==3.26.1
pyrsistent==0.15.7
python-dateutil==2.8.1
pytz==2020.1
pyxdg==0.25
pyzmq==18.1.1
scandir==1.10.0
SecretStorage==2.3.1
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.14.0
subprocess32==3.5.4
terminado==0.8.3
testpath==0.4.4
tornado==5.1.1
traitlets==4.3.3
wcwidth==0.1.8
webencodings==0.5.1
zipp==1.2.0
